
<h1>Welcome novice cooks! </h1>
<h3>Here are all the Recipes available for review:</h3>

<% @recipes.each do |r|%> 
    <ul>
    <li><a href='/recipes/<%= r.id %>'><%= r.name%> </li>

    </ul>
<% end %> 




