
<h1>Welcome novice cooks! </h1>
<h3>Here are all the Recipes available for review:</h3>

<!-- <% @recipes.each do |recipe|%> 
    <p>recipe.name</p>
<% end %>
--> 


<!--<% @recipes.each do |recipe|%> 
     
    <a href='/recipe/<%= r.id %>'> Recipe Name: <%= r.name %>></a>
    <h3>Recipe Ingredients: <%= r.ingredients %></h3>
    <h3>Cook Time: <%= r.cook_time %></h3>
  
<% end %> --> 

