<h1>Your own special recipe!!!!!</h1>  
<h3>See your recipe details below:</h3> 


<!-- -->
<ul>
    <li>Recipe Name: <%= @recipe.name%></li>
    <li>Recipe Ingredients: <%= @recipe.ingredients%> </li>
    <li>Recipe Cook Time: <%= @recipe.cook_time%></li>
</ul>


